<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/shop-homepage.css}" th:rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <h1 class="navbar-brand">Fito-San</h1>
    <div class="container">
      <span class="navbar-brand" href="#">Bienvenido a la zona de cultivos</span>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-2">

        <h1 class="my-4">Fito-San</h1>
        <div class="list-group">
          <a href="/cultivos" class="list-group-item">Cultivos</a>
          <a href="/productos" class="list-group-item">Productos</a>
          <a href="/tratamientos" class="list-group-item">Tratamientos</a>
        </div>

      </div>
      <!-- /.col-lg-2 -->

      <div class="col-lg-8">

        <div class="row my-4">
          
          <div th:each="cultivo : ${listaCultivos}">
            
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="card-title" th:text="${cultivo.especie}"></h4>
                  <h5 th:text="${cultivo.fechaPlantado}"></h5>
                  <p class="card-text" th:text="${cultivo.variedad} +' '+ ${cultivo.zona}"></p>
                </div>
                <div class="card-footer">
                  <a th:href="@{'/editarCultivo/'+${cultivo.id}}">Editar cultivo</a>
                </div>
              </div>
            </div>
            
          </div>
          

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-2 my-4">
        <a class="text-center list-group-item" href="/formularioNuevoCultivo">Añadir cultivo</a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Fito-San 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
