<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <title>Shop Homepage - Start Bootstrap Template</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet">
      
        <!-- Custom styles for this template -->
        <link th:href="@{/css/shop-homepage.css}" th:rel="stylesheet">
      
      </head>
      
      <body>
      
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <h1 class="navbar-brand">Fito-San</h1>
        </nav>
      
        <!-- Page Content -->
        <div class="container">
      
          <div class="row">
      
            <div class="col-lg-3">
      
              <h1 class="my-4">Fito-San</h1>
              <div class="list-group">
                <a href="/cultivos" class="list-group-item">Cultivos</a>
                <a href="/productos" class="list-group-item">Productos</a>
                <a href="/tratamientos" class="list-group-item">Tratamientos</a>
              </div>
      
            </div>
            <!-- /.col-lg-3 -->
      

            
            <div class="col-lg-9">
      
                <div class="row my-4">
                    <h1 class="text-center bg-dark bg-dark-text">Formulario para editar un cultivo</h1>
                    <div class="my-4 formulario">
                        <form th:action="@{'/modifyCultivo/'+${cultivo.id}}" method="GET">
                            <label for="especie">Especie:</label><br>
                            <input type="text" id="especie" name="especie"  size="50" th:attr="placeholder=${cultivo.especie}"><br>  <br>
                            <label for="variedad">Variedad:</label><br>
                            <input type="text" id="variedad" name="variedad"  size="50" th:attr="placeholder=${cultivo.variedad}"><br><br>
                            <label for="zona">Zona de plantación:</label><br>
                            <input type="text" id="zona" name="zona" size="50" th:attr="placeholder=${cultivo.zona}"><br><br>
                            <label for="fechaPlantado">Fecha de plantación del cultivo:</label><br>
                            <input type="date" id="fechaPlantado" name="fechaPlantado"  th:attr="placeholder=${cultivo.fechaPlantado}"><br><br>
                            <div class="text-center">
                                <input type="submit" value="Enviar">
                            </div>
                        </form>
                    </div>
        
              </div>
              <!-- /.row -->
      
            </div>
            <!-- /.col-lg-9 -->
      
          </div>
          <!-- /.row -->
      
        </div>
        <!-- /.container -->
      
        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Fito-San 2021</p>
          </div>
          <!-- /.container -->
        </footer>
      
        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>






        
        
        
        <script src="" async defer></script>
    </body>
</html>