<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/shop-homepage.css}" th:rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <h1 class="navbar-brand">Fito-San</h1>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Fito-San</h1>
        <div class="list-group">
          <a href="/cultivos" class="list-group-item">Cultivos</a>
          <a href="/productos" class="list-group-item">Productos</a>
          <a href="/tratamientos" class="list-group-item">Tratamientos</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row my-4">
            <h1 class="text-center bg-dark bg-dark-text">Formulario para registrar un nuevo tratamiento</h1>
            <div class="my-4 formulario">
                <form action="/nuevoTratamiento" method="POST">
                    <h3><label for="cultivo">Cultivo sobre el que se aplica:</label></h3><br>
                    <select id="selectCultivo" class="form-control" name="cultivoSeleccionado">
                      <div th:each="cultivo : ${listaCultivos}">
                        <option th:text="${cultivo.especie}" th:value="${cultivo.especie}"></option>
                      </div>
                    </select>
                    <button id="mostrarCultivo" class="text-center list-group-item" onclick="mostrarNuevoCultivo()">Nuevo Cultivo</button>
                    <div id="nuevoCultivo" style="display: none;">
                      <label for="especie">Especie:</label><br>
                      <input type="text" id="especie" name="especie" size="50"><br><br>
                      <label for="variedad">Variedad:</label><br>
                      <input type="text" id="variedad" name="variedad" size="50"><br><br>
                      <label for="zona">Zona de plantación:</label><br>
                      <input type="text" id="zona" name="zona" size="50"><br><br>
                      <label for="fechaPlantado">Fecha de plantación del cultivo:</label><br>
                      <input type="date" id="fechaPlantado" name="fechaPlantado"><br><br>
                    </div>
                    <button id="ocultarCultivo" style="display: none;" class="text-center list-group-item" onclick="ocultarNuevoCultivo()">Cancelar nuevo cultivo</button>
                    <br><br>
                    <h3><label for="producto">Producto a aplicar:</label></h3><br>
                    <select class="form-control" name="productoSeleccionado" id="selectProducto">
                      <div th:each="producto : ${listaProductos}">
                        <option th:text="${producto.nombre}" th:value="${producto.nombre}"></option>
                      </div>
                    </select>
                    <button id="mostrarProducto" class="text-center list-group-item" onclick="mostrarNuevoProducto()">Nuevo Producto</button>
                    <div id="nuevoProducto" style="display: none;">
                      <label for="nombre">Nombre:</label><br>
                      <input type="text" id="nombre" name="nombre" size="50"><br><br>
                      <label for="descripcion">Descripcion:</label><br>
                      <input type="text" id="descripcion" name="descripcion" size="50"><br><br>
                      <label for="plazoReentrada">Plazo de reentrada:</label><br>
                      <input type="number" id="plazoReentrada" value=0 name="plazoReentrada" size="50"><br><br>
                      <label for="plazoRecoleccion">Plazo de recoleccion:</label><br>
                      <input type="number" id="plazoRecoleccion" value=0 name="plazoRecoleccion"><br><br>
                    </div>
                    <button id="ocultarProducto" style="display: none;" class="text-center list-group-item" onclick="ocultarNuevoProducto()">Cancelar nuevo producto</button>
                    <br><br>
                    <label for="lote">Numero de lote del producto:</label><br>
                    <input type="text" id="lote" name="lote" size="50" required><br><br>
                    <label for="fechaInicio">Fecha de inicio del tratamiento:</label><br>
                    <input type="date" id="fechaInicio" name="fechaInicio" required><br><br>
                    <div class="text-center">
                        <input type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Fito-San 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/mostrarOcultar.js}">
  </script>

</body>

</html>
