<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/shop-homepage.css}" th:rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <h1 class="navbar-brand">Fito-San</h1>
    <div class="container">
      <span class="navbar-brand" href="#">Bienvenido a la zona de cultivos</span>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-2">

        <h1 class="my-4">Fito-San</h1>
        <div class="list-group">
          <a href="/cultivos" class="list-group-item">Cultivos</a>
          <a href="/productos" class="list-group-item">Productos</a>
          <a href="/tratamientos" class="list-group-item">Tratamientos</a>
        </div>

      </div>
      <!-- /.col-lg-2 -->

      <div class="col-lg-8">
        <div class="DateSearcher">Buscador tratamientos para cultivos con fecha en vigor <br>
          <form action="/buscandoTratamiento" method="GET">
          <input type="date" ><label class="labeldate"> Introduzca la fecha a la que quiere referirse</label>
          <input type="submit" value="BUSCAR">
          </form>
        </div>

        <div class="row my-4">
          

          
          <div th:each="tratamiento : ${tratamientosEnVigor}" class="col-lg-12">

            
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Tratamiento para:</h5>
                  <h4 th:text="${tratamiento.cultivoAplicado.especie}"></h4>
                  <p class="card-text" th:text="'Producto: '+${tratamiento.productoAplicado.nombre}"></p>
                  <p class="card-text" th:text="'Inicio: '+${tratamiento.fechaInicio}"></p>
                  <p class="card-text" th:text="'Reentrada: '+${tratamiento.finReentrada}"></p>
                  <p class="card-text" th:text="'Recoleccion: '+${tratamiento.finRecoleccion}"></p>
                </div>
                <div class="card-footer">
                  <a th:href="@{'/editarTratamiento/'+${tratamiento.id}}">Editar cultivo</a>
                </div>
              </div>
            
          </div>
          

        </div>

        <div class="row my-4">

        <form action="/filtrar" method="POST">  
          <select name="metodoFiltrado">
            <option value="EspecieAsc">Especie Ascendente</option>
            <option value="EspecieDes">Especie Descendente</option>
            <option value="FinReentradaAsc">Fin Reentrada Ascendente</option>
            <option value="FinReentradaDes">Fin Reentrada Descendente</option>
            <option value="FinRecoleccionAsc">Fin Recoleccion Ascendente</option>
            <option value="FinRecoleccionDes">Fin Recoleccion Descendente</option>
          </select>
          <input type="submit" value="Filtrar">
        </form>  

          <div th:each="tratamiento : ${listaTratamientos}" class="col-lg-12">


              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">Tratamiento para:</h5>
                  <h4 th:text="${tratamiento.cultivoAplicado.especie}"></h4>
                  <p class="card-text" th:text="'Producto: '+${tratamiento.productoAplicado.nombre}"></p>
                  <p class="card-text" th:text="'Inicio: '+${tratamiento.fechaInicio}"></p>
                  <p class="card-text" th:text="'Reentrada: '+${tratamiento.finReentrada}"></p>
                  <p class="card-text" th:text="'Recoleccion: '+${tratamiento.finRecoleccion}"></p>
                </div>
                <div class="card-footer">
                  <a th:href="@{'/editarTratamiento/'+${tratamiento.id}}">Editar cultivo</a>
                </div>
              </div>
            
          </div>
          

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-2 my-4">
        <a class="text-center list-group-item" href="/formularioNuevoTratamiento">Añadir tratamiento</a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Fito-San 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
